<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NServiceBus/SimpleStatistics/OutputConsoleTitle" value="True"/>
    <add key="NServiceBus/SimpleStatistics/OutputLog" value="True"/>
    <add key="NServiceBus/SimpleStatistics/IntervalMilliSeconds" value="15000"/>
  </appSettings>
</configuration>